.App {
	background-color: rgb(157, 157, 219);
	padding: 90px;
}
input {
	background-color: rgb(210, 210, 255);
	padding: 10px 10px;
	line-height: 20px;
	border: none;
	border-radius: 50px;
}

button {
	background-color: rgb(166, 198, 219);
	border: 2px solid rgb(130, 151, 165);
	border-radius: 50px;
}

.list {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.list * {
	padding: 5px;
}
