.App {
	background-color: rgb(157, 157, 219);
	padding: 90px;
}
input {
	background-color: rgb(210, 210, 255);
	padding: 10px 10px;
	line-height: 20px;
	border: none;
}

.list {
	flex-direction: column;
	display: flex;
	row-gap: 10px;
}

.list * {
	padding: 5px;
}
